
*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(237,132,34),rgb(192,172,140));
}
header{
    background: rgb(255, 224, 180);
    border-radius: 5px;
    margin: 10px;
    display: flex;
}
#menu{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;    
    align-content: space-between;
    text-decoration: none;
}
#menu h1{
    font-size: 30px;
}
#logo{
    padding: 10px;
}
#topico{
    display:flex;
    padding-left: 550px;
}
#topico a{
    color:black;
    text-decoration: none;
    justify-items: center;
   align-content: space-between;
   padding-left: 5px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   margin-left: 10px;

}
#topico a:hover{
    border: 1px white;
    background-color: rgb(73, 55, 3);
    color: white;
    padding: 2px;
    border-top-left-radius:10px;
    border-bottom-right-radius: 10px;
}
.presso img{
    width: auto;
    align-content: center;
    margin-left: 350px;
    border-radius: 15px;
    box-shadow: 2px 5px black;
}
.jambes img{
    width: auto;
    align-content: center;
    margin-left: 210px;
    border-radius: 15px;
    box-shadow: 2px 5px black;
}
#ap h2{
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
#ap p{
    color: black;
    font-size: 18px;
    line-height: 25px;
    width: 950px;
    text-align: justify;
    justify-items: center;
    align-content: center;
    margin-left: 250px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#Restrictions{
    text-align: center;
    margin-top: 20px;
}
#Restrictions h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
#Restrictions{
    text-align: center;
    align-items: center;
}
#Restrictions h1{
    color: white;
    text-shadow: 2px 2px 5px black;
}
#Restrictions ul {
    width: 550px;
    border: 2px solid rgb(251, 247, 247);
    box-shadow: 2px 2px 5px black;
    background: white;
    color: rgb(177, 6, 6);
    text-decoration:  none;
    list-style: none;
    padding-top: 10px;
    margin-left: 400px;
    margin-bottom: 10px;
    text-decoration: none;
    white-space: 2px;
}
#prestations{
    width: 950px;
    text-align: center;
    margin-left: 250px;
}
#prestations h1, h2{
    text-align: center;
    margin-top: 10px;
    color: white;
    text-shadow: 2px 2px 5px black;
}
#prestations h1{
    margin-top: 30px;
}
#prestations p{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: justify;
}
#prestations h3{
    text-transform: lowercase;
    margin-top: 10px;
}
#prestations span{
    font-weight: bolder;
}






#footer{
    width:99%;
    height: auto;
    margin: 10px 10px;
    background-image:url(img/Flower\ background\ 04.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    padding-top: 50px;
}
.press{
    height: 150px;
}
.press h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: auto;
    height: 150px;
}
.redes-sociais{
    width:300px;
    height: 150px;
}
.redes-sociais ul{
    display: flex;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;   
}

.redes-sociais  li{
    margin-right: 1rem;
    list-style: none;
}

.redes-sociais img{
    width: 50px;
    height: 50px;
    margin-top: 1rem;
}
.redes-sociais  p{
    width: 200px;
    height: 30px;
    font-size: 18px;
    color:black;
    text-shadow: 2px 2px 16px black;
    margin-left: 800px;
    padding: 5px;
}
/*botao*/
.smoothscroll-top {
    position:fixed;
    opacity:0;
    visibility:hidden;
    overflow:hidden;
    text-align:center;
    z-index:10000000;
    background-color:#2ba6e1;
    color:#fff;
    width:47px;
    height:44px;
    line-height:44px;
    right:25px;
    bottom:-25px;
    padding-top:2px;
    border-radius:5px;
    transition:all .5s ease-in-out;
    transition-delay:.2s;
    }
    
    .smoothscroll-top:hover {
    background-color:#3eb2ea;
    color:#fff;
    transition:all .2s ease-in-out;
    transition-delay:0;
    }
    
    .smoothscroll-top.show {
    visibility:visible;
    cursor:pointer;
    opacity:1;
    bottom:25px;
    }
    
    .smoothscroll-top i.fa {
    line-height:inherit;
    }

